@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  user-select: none;
}
body::-webkit-scrollbar,
.cart::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track,
.cart::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb,
.cart::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
.cart::-webkit-scrollbar-thumb {
  border: 5px solid #fff;
}
body::-webkit-scrollbar-thumb {
  border: 3.5px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button,
.cart::-webkit-scrollbar-button {
  display: none;
}

:root {
  --orange: #f64b15;
  --hoverOrange: #f85119f5;
  --paleOrange: #fcf5f2ce;
}
.loading {
  max-width: 112px;
}
.orderSuccess {
  max-width: 380px;
}
.orange {
  color: var(--orange);
}
.bg_pale {
  background-color: var(--paleOrange);
}
.bg_black {
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.icon {
  position: absolute;
  top: -8px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 900;
  color: white;
  background-color: var(--orange);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.nav {
  height: 12vh;
}
.navlinks {
  transition: all 0.3s linear;
}
.navlinks li:hover {
  color: var(--orange);
}
.navActive {
  color: var(--orange);
}

.home {
  width: 100%;
  height: 88vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper {
  height: 200px !important;
}
.swiper-pagination {
  bottom: 0px !important;
}
.swiper-pagination-bullet {
  background-color: var(--orange) !important;
}
.history_img {
  position: relative;
  width: 80%;
  max-width: 280px;
  min-height: 320px;
  margin: 0 auto;
}
.horizonal_line {
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  position: relative;
}
.vertical_line {
  background-color: var(--orange);
  height: 16px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical_line_contact {
  background-color: rgba(0, 0, 0, 0.877);
  height: 100%;
  width: 2px;
}
.footer_img {
  max-width: 240px;
}
.menu_img {
  max-width: 150px;
}
.menu_filter li {
  border: 1px solid var(--orange);
}
.menu_filter li:hover {
  background-color: var(--orange);
  color: white;
}
.menu_filter li.active {
  background-color: var(--orange);
  color: white;
}
.menu_card {
  transition: all 0.3s ease-in-out;
}
.menu_card:hover {
  transform: translateY(-10px);
}
.menu_card div:nth-child(1) {
  transition: all 0.3s ease-in-out;
}
.menu_card:hover div:nth-child(1) {
  transform: scale(1.1);
}

.button {
  background-color: var(--orange);
  cursor: pointer;
}
.button:hover {
  display: block;
  background-color: var(--hoverOrange);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.ham_line {
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  border-radius: 50%;
  margin: 2px 0;
  position: relative;
  transition: all 0.3s ease;
}
.hamburger.active_ham div:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}
.hamburger.active_ham div:nth-child(2) {
  opacity: 0;
}
.hamburger.active_ham div:nth-child(3) {
  top: -7px;
  transform: rotate(-45deg);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .history_img {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .history_img {
    height: 420px;
  }
}
